# Temporary and binary files
!.isort.cfg
!setup.cfg
*.cfg
*.log
*.orig
*.pot
*.py[cod]
*.so
*/.ipynb_checkpoints/*
*~
.*.swp
.DS_Store
.cache/*
.task/
__pycache__/*
tmp/

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
.vscode
tags

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
.coverage
.coverage.*
.coverage_*
.pytest_cache/
.tox
Session.vim
coverage.xml
htmlcov/*
junit*.xml
prepm.*
tests/vim/bundle
tests/vim/reference_citation.md

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/api/*
docs/_rst/*
docs/_build/*
cover/*
MANIFEST

# Per-project virtualenvs
.venv*/
.conda*/
.python-version
