name: panvimwiki
channels:
  - conda-forge
  - defaults
dependencies:
  - black
  - flake8
  - html2text
  - myst-parser
  - mypy
  - pandoc
  - panflute
  - pip
  - pipx
  - pre-commit
  - pydash
  - pydocstyle
  - pypandoc
  - pytest
  - pytest-cov
  - pytest-freezegun
  - python  # [version='<3.12'] # Should match vim --version | grep python3
  - sphinx
  - tox
  - tox-conda
  - unify
  - yapf
  - pip:
    # - -e .
    # - vim-tools
    - vim_bridge3
    # - covimerage dependencies conflict with pytest. `pipx run covimerage` works.
    - pytest-pretty-terminal
